<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/CustomerShop.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Customer Shop</title>
    
</head>
<body class="">
    <div> 
        <ul>
            <li><a href="~/Shop/CustomerHomeShop">Home</a></li>
            <li><a href="~/Shop/shopSunglasses">Shop</a></li>
            <li><a href="">Edit personal information</a></li>
            <li><a href="~/Home/Index">Exit</a></li>
        </ul>
    </div>
    <div>
        @RenderBody()
        <hr />
    </div>
   
</body>
</html>
