@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<p>
    I’m a 23-year-old student at “Afeka College of Engineering” towards a bachelor’s degree in software engineering, at the start of my third year.
    <br />
    I’ve learned #C programming in high school, and always wanted to take part in developing software.
    <br />
    During my studies I’ve accumulated a lot of knowledge, and acquired a strong desire to expend my programming skills, especially in Java.
    <br />
    For more detail please send me email:
    <a href="mailto: harelazimm1@gmail.com">harelazimm1@gmail.com</a>
</p>
