@{
    ViewBag.Title = "Home Page";
}
    <div>
        <p margin="10px">
            <h2>Hello This site is about selling sunglasses and buying sunglasses.</h2>
            <br />
            Before you buy and sell sunglass you need to sign up and after that to login.
            <br />
            you can see image of sunglass that available in shop, under this text, but only to look them.
            <br />
            <img src="~/Content/imageHomePage/sunglassHome.PNG" width="800" height="400" alt="image of sunglass" />
        </p>




    </div>
    
