
@{
    ViewBag.Title = "Login";
}
<link href="~/Content/LoginCustomer.css" rel="stylesheet" />
<h2>Login customer</h2>
<div>
    <form name="Logfrom" action="Login" method="post">
        <table>
            <tr>
                <td>
                    Id:
                </td>
                <td>       
                        <input type="number" name="Id" id="quantity" min="10000000" max="999999999" title="number with 8/9 digit" required />     
                </td>
                <td>
                    @ViewData["idLogin"]
                </td>
            </tr>
            <tr>
                <td>
                    password:
                </td>
                <td>
                    <input type="password" name="Password" maxlength="20" minlength="5" required/>
                </td>
            </tr>
        </table>
        <input type="submit" value="Sumbit"  />
    </form>
</div>



