@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Holon<br />
    <abbr title="Phone">P :</abbr>
    052-0000000
</address>

<address>
    <strong>Support:</strong><a href = "mailto: harelazimm1@gmail.com">harelazimm1@gmail.com</a><br />
</address>